@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DynaPuff:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
body {
  background-image: linear-gradient(#bf953f, #fcf6ba);
  scroll-behavior: smooth;
}
/* Navbar */
.nav-bg {
  background-color: #1c1c1c;
}
.nav-text {
  color: #ffd700;
  font-family: "Rubik Dirt", cursive;
  font-size: 25px;
  font-weight: 500;
}
.nav-text:hover {
  color: #b4161b;
}

.head-title {
  color: black;
  font-family: "Lobster", cursive;
  font-size: 3.5em;
  font-weight: 700;
}
.special-text {
  color: #b4161b;
}
.head-para {
  font-size: 20px;
  font-weight: 500;
}

.card-bg {
  background-image: linear-gradient(#bf953f, #fcf6ba);
}

.title-card {
  font-family: "Lobster", cursive;
  font-size: 30px;
  font-weight: 500;
}
.slide-title {
  color: #ffd700;
  font-family: "DynaPuff", cursive;
  font-size: 2em;
  font-weight: 700;
}
.slide-text {
  color: #b4161b;
  font-family: "Bebas Neue", cursive;
  font-size: 2em;
  font-weight: 600;
}

.social {
  padding: 10px;
  font-size: 50px;
  font-weight: 700;
}

a {
  text-decoration: none;
}
.fa-star {
  color: blue;
}
.fa-star-half-stroke {
  color: blue;
}

@media only screen and (max-width: 767px) {
  .slide-title {
    color: #ffd700;
    font-family: "DynaPuff", cursive;
    font-size: 0.8em;
    font-weight: 500;
  }
  .slide-text {
    color: #b4161b;
    font-family: "Bebas Neue", cursive;
    font-size: 0.8em;
    font-weight: 500;
  }
}
